*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(34, 33, 48);
    --secondary-color: rgb(78, 201, 234);
    --third-color: rgb(42, 139, 234);
    --fourth-color: #f73c5c;
    --fifth-color: rgb(255, 157, 0);
    --bagraun-color: #fafafa;
    --white-color-black:#f0f0f0;
}

@font-face {
    font-family: "Montserrat-italic-variablefont_wght";
    src: url("/Frontend/fuentes/Montserrat-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Montserrat-VariableFont_wght";
    src: url("/Frontend/fuentes/Montserrat-VariableFont_wght.ttf");
}


.navbar{
    background-color: var(--primary-color);
    color: var(--bagraun-color);
    font-family: "Montserrat-VariableFont_wght";
    
}

.logo img{
    width: 135px;
    height: 60px;
    margin-left: 0px;
}

.dropdown{
    margin-right: 100px;
}

.dropdown img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}



.text-section{
    font-family: "Montserrat-VariableFont_wght";
    color: black;
}

.container-table{
display: flex;
justify-content: center;
}

.table{
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 17px;
    max-width: 1000px;
    border-radius: 5px 5px 0 0;
}

table thead th, th{
    border: 1px solid var(--primary-color);
}

table tbody td, th{
    border: 1px solid var(--primary-color);
}



