/* colores */
:root {
  --color1: #ef9300;
  --color1-1: #1a1000;
  --color1-2: #452a00;
  --color1-3: #6f4500;
  --color1-4: #9a5f00;
  --color1-5: #c47900;
  /*  */
  --color2: #e13754;
  --color2-1: #0c0305;
  --color2-3: #370d15;
  --color2-4: #611824;
  --color2-5: #8c2234;
  --color2-6: #b62d44;
  /*  */
  --color3: #2a8bea;
  --color3-1: #040d15;
  --color3-2: #0b2640;
  --color3-3: #133f6a;
  --color3-4: #1b5995;
  --color3-5: #2272bf;
  /*  */
  --color4: #48caed;
  --color4-1: #071518;
  --color4-2: #143943;
  --color4-3: #215d6d;
  --color4-4: #2e8298;
  --color4-5: #3ba6c2;
  /*  */
  --color5: #222130;
  --color5-1: #403e5a;
  --color5-2: #5e5b85;
  --color5-3: #7c79af;
  --color5-4: #9a96da;
  --color5-5: #040405;
  /*  */
  --color6: #ffffff;
  --color7: #000000;
  --color8: #c8c8c8;
  --color9: #f0f0f0;
  --color10: #fafafa;
  font-size: 15px;
}

/* fonts */
@font-face {
  font-family: "font1";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "font2";
  src: url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "font2";
}
/* rutas */
a {
  text-decoration: none;
}

/* fin de rutas */

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 0.5 rem;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 10% auto 10%;
  min-height: 100vh;
  background-color: var(--color4);
  /* transition: background-color 2s ease; */
}

header {
  grid-area: header;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav {
  display: flex;
  flex-direction: flex;
  gap: 2rem;
  margin: 1rem;
  margin-right: 1rem;
}

.nav img {
  width: 150%;
  height: auto;
}

.nav a::after {
  font-size: 1rem;
  text-decoration: var(--color4-5);
}

.svg {
  border: 5px solid none;
  width: 100px;
  height: 100px;
  background-color: none;
  &:hover {
    filter: invert(100%);
    cursor: pointer;
  }
}

main {
  grid-area: main;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  padding: 1rem;
}

.card {
  padding: 2rem;
  margin: 2rem;
  flex-direction: column;
  justify-items: center;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
}

.card1{
  justify-content: center;
}

/* Login */

.login {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
  grid-template-areas:"login1 login2" ;
  background-color: var(--color8);
  padding: 1rem;
  border: solid 4px var(--color4-2);
  border-radius: 1rem;
  font-family: 'font1';
  width: 100%;
  height: auto;
}


.login1{
  grid-area: login1;
}
.login1 .title {
  justify-content: center;
  text-align: center;
}

.login1 .texts .text {
  display: flex;
  flex-direction:row ;
  gap: 1rem;
  margin: 1rem;
}


.login2 {
  grid-area: login2;
  display: grid;
  text-align: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.login2 img {
  width: 60%;
  height: auto;
  border: solid 2px var(--color4-5);
}

.login2 input {
  background-color: none;
  color: #040d15;
  text-align: center;
  border: #0b2640;
  
}
/* End Login */
footer {
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-items: center;
}

.footer-container {
  display: flex;
  flex-direction: flex;
  justify-content: space-around;
  padding: 1rem;
}

.footer-container img {
  width: 150%;
  height: auto;
}

/* Buttons */

button {
  padding: 0.4rem;
  background-color: #133f6a;
  color: var(--color8);
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #040405;
  color: #3ba6c2;
}

/* end Buttons */

/* modo Oscuro */
.dark-mode {
  background-color: var(--color5);
  font-family: "font1";
  color: var(--color4);
}

.dark-mode header {
  background-color: #48caed20;
}

.dark-mode footer {
  background-color: #48caed20;
}

.dark-mode .login{
  color: #000000;
}