:root{
    --primary-color: rgb(34, 33, 48);
    --secondary-color: rgb(78, 201, 234);
    --third-color: rgb(42, 139, 234);
    --fourth-color: rgb(247, 60, 92);
    --fifth-color: rgb(255, 157, 0);
    --bagraun-color: #fafafa;
    --white-color-black:#f0f0f0;
}

@font-face {
    font-family: "Montserrat-italic-variablefont_wght";
    src: url("/Frontend/fuentes/Montserrat-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Montserrat-VariableFont_wght";
    src: url("/Frontend/fuentes/Montserrat-VariableFont_wght.ttf");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    padding-left: 30px;
    padding-right: 30px;
}

main{
    width: 100%;
    min-height: 500px;
    background-color: var(--bagraun-color);
    display: flex;
    flex-direction: column;
    justify-content: left;
    min-width: 500px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    font-family: "Montserrat-VariableFont_wght";
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;


}

header{
    background-color: var(--primary-color);
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px 5px 0 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    color: var(--white-color-black);
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search{
    display: flex;
    justify-content: left;
    align-items: center;
}

.search input{
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid var(--white-color-black);
}

.search button{
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid var(--white-color-black);
}

.search button:hover{
    cursor: pointer;
}

.search input:hover{
    cursor: text;
}

.search input:focus{
    outline: none;
}

.search button:active{
    background-color: var(--secondary-color);
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    margin-bottom: 20px;
    
}

.nav-selection{
    display: flex;
    justify-content: left;
    align-items: center;
    /* padding: 20px; */
    margin-bottom: 20px;
}

.nav-selection p{
    margin-right: 20px;
    /* background-color: var(--secondary-color); */
    padding: 3px;
    /* border-radius: 5px; */
    color: var(--primary-color);
    border-bottom: 4px solid var(--secondary-color);
}

.nav-selection p:hover{
    cursor: pointer;
    background-color: var(--third-color);
    color: var(--white-color-black);
    border: 1px solid var(--third-color);
    font-weight: 600;
}

.nav-selection p:nth-child(2){
    /* background-color: var(--bagraun-color); */
    color: var(--primary-color);
    /* border: 1px solid var(--secondary-color); */
    border: none;
    font-weight: 400;
}

.table-person-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* margin-left: 10px; */
    /* margin-right: 20px; */
    border-radius: 5px;
}

.table-person{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--white-color-black);
    border-radius: 5px;
    margin-bottom: 2px;
}

.user{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 332px;
}

.user img{
    width: 50px;
    border-radius: 50%;
}

.user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 20px;
    margin-right: 20px;
}

.action{
    display: flex;
    justify-content: left;
    align-items: center;
}

.edit img{
    width: 30px;
    margin-right: 10px;
}

.delete img{
    width: 30px;
}